* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: grey ; 
    color: grey;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#title {
    color: grey;
    background-color: skyblue;
    padding-left: 30px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}


header nav {
    margin: 7px 0;
  }
  
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  
header a {
    text-decoration: none;
    color: skyblue; 
  }

.nav {
    border-bottom: 3px solid skyblue;
    padding: 0 7px 3px
}



header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

header nav ul li a:hover {
    background: skyblue;
    color: grey;
    border-radius: 15px;
    text-shadow: none;
  }

section {
    padding: 60px;
}

.hero {
    width: 100%;
    height: 20vh;
    background-image: url('../images/9f80b1d5-2f31-436b-84d6-d20ac4e5f270.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%; 
    flex-direction: row;

  }

#herotxt {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    flex-direction: column;
    padding-right: 20px;
}

#aboutme {
    margin-left: 20px;
    padding-left: 35px;
    padding-right: 10px;
    clear: both;
    float: left;
    background-color: #fff;
    inline-size: 150px;
    overflow-wrap: break-word;
}

.content .about-me p{
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    border-left: 3px solid navy;
    

}