:root {
    --primary: navy;
    --secondary: skyblue;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--primary);
    background-color: #fff;

}


header {
    background-color: var(--primary);
    color: var(--primary);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#title {
    color: var(--primary);
    background-color: var(--secondary);
    padding-left: 30px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}


header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}


header a {
    text-decoration: none;
    color: var(--secondary);
}

.nav {
    border-bottom: 3px solid var(--secondary);
    padding: 0 7px 3px
}



header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--secondary);
    color: var(--primary);
    border-radius: 15px;
    text-shadow: none;
}




.hero {
    width: 100%;
    height: 25vh;
    background-image: url('../images/9f80b1d5-2f31-436b-84d6-d20ac4e5f270.png');
    background-size: cover;
    background-attachment: center;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.hero img {
    height: 400px;
}

.subtitle {
    font-size: 35px;
    color: var(--primary);
    background-color: var(--secondary);

}


/* utility class styling end */

/* about me section styling start */
.about-me {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 30px;
}

.about-me p {
    font-size: 20px;
    padding: 0 30px;
    line-height: 1.6;
    width: 90%;
}

.title {
    border-right: 5px solid var(--primary);
    min-height: 100%;
    padding-left: 120px;
}

.title h2 {
    font-size: 48px;
}

.work {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}

.work h2 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 40px;
    display: flex;
    justify-content: flex-start;
}

.projects-grid-wrapper {
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
}

.projects-grid {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1 fr);
    grid-template-rows: repeat(4,1 fr);
    gap: 8px;
}

.project {
    border: solid skyblue;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}



.work-label {
    background-color: var(--secondary);
    color: var(--primary);
    padding: 10px;
}
