/* color variables */

:root {
  --primary: navy;
  --secondary: skyblue;
}

/* all page styles */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* body styles*/

body {
  font-family: "Monsterrat";
  color: var(--primary);
  background-color: #fff;
}

/* header styles */

header {
  background-color: var(--primary);
  color: var(--primary);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}

header h1 {
  color: var(--primary);
  font-size: 40px;
  font-weight: bold;
  background-color: var(--secondary);
  padding: 10px;
  border: 5px solid var(--secondary);
}

header div {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

header a {
  text-decoration: none;
  color: var(--secondary);
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  background: var(--secondary);
  color: var(--primary);
  border-radius: 15px;
  text-shadow: none;
}

.nav {
  border-bottom: 3px solid var(--secondary);
  padding: 0 7px 3px;
}
/* end of header styles*/

/* start of hero styles*/

.hero {
  width: 100%;
  height: 27vh;
  background-image: url("../images/9f80b1d5-2f31-436b-84d6-d20ac4e5f270.png");
  background-size: cover;
  background-attachment: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero img {
  height: 200px;
  flex: 1;
}

.subtitle {
  font-size: 35px;
  color: var(--primary);
  background-color: var(--secondary);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* end of Hero styling end */

/* about me section styling start */
.about-me {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 30px;
}

.about-me p {
  width: 70%;
  font-size: 18px;
  padding: 0 30px;
  line-height: 1.6;
}

.title {
  border-right: 5px solid var(--primary);
  min-height: 100%;
  padding-left: 120px;
  width: 300px;
}

.title h2 {
  font-size: 48px;
}

/* My work section styles */

.work {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}

.work h2 {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 40px;
  display: flex;
  justify-content: flex-start;
}

.projects-grid-wrapper {
  width: 85%;
  height: 1000px;
  display: flex;
  justify-content: center;
}

.projects-grid {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1 fr);
  grid-template-rows: repeat(4, 1 fr);
  gap: 10px;
}

.project {
  border: 5px solid skyblue;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  opacity: 0.6;
}

.project:hover {
  opacity: 1;
}

.pawfect-friends-app {
  grid-column: 1/3;
  grid-row: span 2;
  background-image: url("../images/pawfect-friends.png");
}

.wheres-the-band {
  background-image: url(../images/Event\ Finder.png);
}

.code-quiz {
  background-image: url(../images/code-quiz\ home.png);
}

.run-buddy {
  background-image: url("../images/run-buddy\ screenshot.png");
}

.Weather-Dashboard {
  background-image: url(../images/Weather\ Dashboard\ 2.png);
}

.work-label {
  background-color: var(--secondary);
  color: var(--primary);
  padding: 10px;
}

/* footer/contact information section */

footer {
  font-family: "Monsterrat";
  color: var(--primary);
  background-color: #fff;
  padding-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  font-size: 30px;
}

.contact-wrapper {
  width: 80%;
}

footer ul li {
  font-size: 24px;
  text-decoration: none;
  padding: 8px;
  border-bottom: 3px solid navy;
}

footer ul li a {
  text-decoration: none;
  color: navy;
}

footer ul li :hover {
  background: var(--secondary);
  color: var(--primary);
  border-radius: 15px;
  text-shadow: none;
}

/*Media Query for smaller desktop screens and smaller*/
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2,
  footer div {
    text-align: center;
    width: 100%;
  }

  .subtitle {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  .about-me p {
    font-size: 18px;
  }

  .title {
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  article {
    display: flex;
    flex-direction: column;
  }

  .projects-grid {
    display: flex;
    flex-direction: column;
  }

  .contact-list {
    display: flex;
    flex-direction: column;
  }

  /*Media Query for tablets and smaller */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
    .title {
      flex: 1 100%;
      flex-wrap: wrap;
    }

    /*Media Query for mobile phones and smaller */
    @media screen and (max-width: 575px) {
    }
  }
}
